# NIAS-IA: Treinamento turma 3

In [3]:
import numpy as np

## Exercício 3.1: Twitter Sentiment Analysis

Classificar os tweets abaixo em tweets felizes ou tweets tristes

In [4]:
tweets = [
"Wow, what a great day today!! #sunshine",
"I feel sad about the things going on around us. #covid19",
"I'm really excited to learn Python with @JovianML #zerotopandas",
"This is a really nice song. #linkinpark",
"The python programming language is useful for data science",
"Why do bad things happen to me?",
"Apple announces the release of the new iPhone 12. Fans are excited.",
"Spent my day with family!! #happy",
"Check out my blog post on common string operations in Python. #zerotopandas",
"Freecodecamp has great coding tutorials. #skillup"
]

1. Quantos tweets existem nesse banco de dados?

In [5]:
print("Existem {0} tweets na lista.".format(np.size(tweets)))

Existem 10 tweets na lista.

2. A partir das listas de palavras apresentadas abaixo, tome o primeiro tweet como amostra e identifique se é feliz ou não.

happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [6]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

primeiro_tweet = tweets[0].split()

In [7]:
tweet_status = "neutral"
for word in primeiro_tweet:
    if word in happy_words:
        tweet_status = "happy"
        break
    elif word in sad_words:
        tweet_status = "sad"
        break
    else:
        tweet_status = "neutral"        

print('"' + tweets[0] + '"')

if tweet_status == "happy":
    print("É um tweet feliz!")
elif tweet_status == "sad":
    print("É um tweet triste!")
else:
    print("Não foi possível identificar :(")

"Wow, what a great day today!! #sunshine"
É um tweet feliz!

3. A partir do item “b)”, crie uma nova variável que conte quantos tweets felizes estão contidos na lista “tweets”, crie também outra variável que conte o número de tweets tristes. Exiba os número encontrados com um texto que os defina.

In [8]:
happy_count = 0
sad_count = 0
unidentified_count = 0
#tweet_status = "neutral"

for tweet_ativo in tweets:
    tweet_analise = [i.strip("#!,@$%^&*().;") for i in tweet_ativo.split()]
    for word in tweet_analise:
        #print(word)
        if word in happy_words:
            #tweet_status = "happy"
            happy_count += 1
            break
        elif word in sad_words:
            #tweet_status = "sad"
            sad_count += 1
            break

print('Foram idendificados {} tweets felizes e {} tweets tristes. {} tweets não foram categorizados.'.format(happy_count,sad_count,np.size(tweets)-happy_count-sad_count))

Foram idendificados 6 tweets felizes e 2 tweets tristes. 2 tweets não foram categorizados.

## Exercício 4 - Explotando o "COVID-19 Dataset"

Os itens abaixo contém tarefas que devem ser cumprimas utilizando a biblioteca Pandas, abaixo da atividade em si, contém um passo a passo para a construção do item, este passo a passo é opcional para facilitar a construção do código, se o aluno preferir fazer da sua forma, é permitido desde que realize o que se pede no item.

In [9]:
import pandas as pd

1. O primeiro passo da exploração de dados é obter informações gerais, deve-se
importar o arquivo “covid_19_clean_complete.csv” e obter as seguintes informações.

In [10]:
# importando direto do GitHub (raw data)
df_covid_19_clean_complete = pd.read_csv("https://raw.githubusercontent.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning/master/covid_19_clean_complete.csv")
df_worldmeter_data = pd.read_csv("https://raw.githubusercontent.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning/master/worldometer_data.csv")

a. Quantidade de linhas e colunas

> No total são 49068 amostras e 10 variáveis (colunas) no banco de dados.

In [11]:
df_covid_19_clean_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [12]:
df_covid_19_clean_complete.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

b. Quais são as colunas

> 0   Province/State  
> 1   Country/Region  
> 2   Lat             
> 3   Long            
> 4   Date            
> 5   Confirmed       
> 6   Deaths          
> 7   Recovered       
> 8   Active          
> 9   WHO Region

c. O tipo de dado de cada coluna

In [13]:
df_covid_19_clean_complete.head(1)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean

 0   Province/State    object string
 1   Country/Region    object string
 2   Lat               float64  número real
 3   Long              float64  número real
 4   Date              object   string de data
 5   Confirmed         int64  número inteiro
 6   Deaths            int64  número inteiro
 7   Recovered         int64  número inteiro
 8   Active            int64  número inteiro
 9   WHO Region        object   string

d. A coluna de datas deve ser transformada de “Object” para “datetime64”, utilizando o comando “pd.todatetime( )”

In [14]:
df_covid_19_datetime = df_covid_19_clean_complete
df_covid_19_datetime['Date'] = pd.to_datetime(df_covid_19_datetime['Date'],yearfirst=True)
df_covid_19_datetime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  datetime64[ns]
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 3.7+ MB

e. Informações estatísticas sobre o banco de dados

In [15]:
df_covid_19_datetime.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

f. Se necessário, transformar uma coluna pertinente para formato de data

> Transformado.

g. Quais colunas apresentam NaN

> A coluna 0 (Province/State) apresenta 34404 valores NaN

In [16]:
df_covid_19_datetime.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

2. Crie um dataframe que contenha apenas as 5 províncias da China que mais registraram casos.

In [58]:
df_covid_19_china = df_covid_19_datetime.loc[df_covid_19_datetime['Country/Region'] == 'China']
most_confirmed_china = df_covid_19_china.sort_values(by='Confirmed',ascending=False)['Province/State'].unique()[0:5]

a. Descubra qual o nome das províncias chinesas contidas no dataset

In [59]:
print(most_confirmed_china)

['Hubei' 'Hong Kong' 'Guangdong' 'Henan' 'Zhejiang']

b. Retire do banco de dados apenas as informações dessas províncias

In [60]:
df_covid_19_china_5_confirmed = pd.DataFrame()
for province in most_confirmed_china:
    df_covid_19_china_5_confirmed = pd.concat([df_covid_19_china_5_confirmed,
                                            df_covid_19_china.loc[df_covid_19_china['Province/State'] == province]])

df_covid_19_china_5_confirmed

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
61,Hubei,China,30.9756,112.2707,2020-01-22,444,17,28,399,Western Pacific
322,Hubei,China,30.9756,112.2707,2020-01-23,444,17,28,399,Western Pacific
583,Hubei,China,30.9756,112.2707,2020-01-24,549,24,31,494,Western Pacific
844,Hubei,China,30.9756,112.2707,2020-01-25,761,40,32,689,Western Pacific
1105,Hubei,China,30.9756,112.2707,2020-01-26,1058,52,42,964,Western Pacific
...,...,...,...,...,...,...,...,...,...,...
47843,Zhejiang,China,29.1832,120.0934,2020-07-23,1270,1,1267,2,Western Pacific
48104,Zhejiang,China,29.1832,120.0934,2020-07-24,1270,1,1267,2,Western Pacific
48365,Zhejiang,China,29.1832,120.0934,2020-07-25,1270,1,1268,1,Western Pacific
48626,Zhejiang,China,29.1832,120.0934,2020-07-26,1270,1,1268,1,Western Pacific
48887,Zhejiang,China,29.1832,120.0934,2020-07-27,1270,1,1268,1,Western Pacific

c. Tome apenas as informações das features: “Confirmed”, “Active”, “Deaths”, “Recovered”

In [99]:
df_covid_19_china_5_clean = df_covid_19_china_5_confirmed[['Province/State','Confirmed','Active','Deaths','Recovered']]
df_covid_19_china_5_clean

      Province/State  Confirmed  Active  Deaths  Recovered
61             Hubei        444     399      17         28
322            Hubei        444     399      17         28
583            Hubei        549     494      24         31
844            Hubei        761     689      40         32
1105           Hubei       1058     964      52         42
...              ...        ...     ...     ...        ...
47843       Zhejiang       1270       2       1       1267
48104       Zhejiang       1270       2       1       1267
48365       Zhejiang       1270       1       1       1268
48626       Zhejiang       1270       1       1       1268
48887       Zhejiang       1270       1       1       1268

[940 rows x 5 columns]

d. Agrupe o novo dataframe a partir dessas províncias. Qual a função de agrupamento que deve ser usada?

In [107]:
df_covid_19_china_5_clean.groupby(by='Province/State').max()

                Confirmed  Active  Deaths  Recovered
Province/State
Guangdong            1672     991       8       1645
Henan                1276    1254      22          0
Hong Kong            2778    1270      22       1495
Hubei               68135   50633    4512      64435
Zhejiang             1270     883       1       1268

e. Produza um dataframe contendo as 5 regiões com o maior número de casos confirmados

In [119]:
df_covid_19_world_5most = df_covid_19_datetime[['Country/Region', 'Confirmed','Deaths', 'Recovered', 'Active']].groupby(by='Country/Region').max()
df_covid_19_world_5most = df_covid_19_world_5most.sort_values(by='Confirmed', ascending=False).iloc[:5]
df_covid_19_world_5most

                Confirmed  Deaths  Recovered   Active
Country/Region
US                4290259  148011    1325804  2816444
Brazil            2442375   87618    1846641   583080
India             1480073   33408     951166   495499
Russia             816680   13334     602249   245382
South Africa       452529    7067     274925   173590

3. A coluna “Province/State” contém muitos valores faltando. Para descartá-la perdendo o mínimo de informação, inclua na coluna “Country/Region” o nome das regiões junto ao nome dos países em que existem mais de uma província registrada no banco de dados, utilizando o método “.apply”. Como por exemplo, juntar o nome China com a região pertinente: “China_Hubei”, “China_Guangdong”.

In [173]:
df_teste = df_covid_19_datetime

df_test.applymap(lambda x : x[])

Province/State
Country/Region
Lat
Long
Date
Confirmed
Deaths
Recovered
Active
WHO Region

In [183]:
df_teste['Country/Region'].iloc[1] = 'Brazil'

c:\Users\rodol\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

a. Elabore uma função que tenha uma linha do banco de dados como argumento e, se a coluna “Province/State” não for valor faltante, concatenar seu valor com coluna “Country/Region” i. Utilize o método “pandas.notna” para averiguar de “Province/State” é valor faltante

In [ ]:
def concatProvinces(df):
    df

b. Faça uma cópia do banco de dados para poder retirar informações sem perder o banco de dados original

c. Aplique, por meio do método “apply”, a função criada no item a

d. Exclua a coluna “Province/State” do novo dataframe

4. Importe o arquivo "world meter data.csv" e, a partir de seus dados de população e continentes, faça um ranking de maior número de mortes por milhão de habitantes entre os continentes.

a. Importar o banco de dados "world meter data.csv"

b. Tome apenas as informações de população, país e continentes deste banco de dados

c. Agrupe o “covid_19_clean_complete” por países. Deve-se usar o dataframe do item “c)” ou o original?

d. Mescle os dois dataframes, a partir dos países, contendo apenas as informações de mortes, população e continente

e. Agrupe o novo dataset agora pelo continente

f. Crie uma nova coluna contendo o número de mortes por milhão dentro dos continentes (Utilize a fórmula: (mortes/população)*10^6)

g. Faça um ranking do número de mortes por milhão de habitantes entre os continentes